<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL LIFE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div id="branding">
            <img src="{% static 'images/logo.png' %}" alt="REAL LIFE Logo" class="logo">
            <h1><a href="{% url 'clinic_list' %}"><em><span style="color: red;">&#10010;</span> REAL LIFE  <span style="color: red;">&#10010;</span> MEDICAL CENTER</em></a></h1>
        </div>
        <div class="auth-links">
                <h2><a href="{% url 'profile' %}">Պրոֆիլ</a></h2>
                <h2><a href="{% url 'log_out' %}">Ելք</a></h2>
        </div>
    </header>

    <div class="container">
        <h2>Հաջող գրանցում&#9989;</h2>
        <p>Պացիենտ - {{patient}}</p>
        <p>Բժիշկ - {{doctor}} </p>
        <p>Գրանցման ամսաթիվ - {{ appointment_time|date:"F j, Y, H:i" }}</p>
        <p> Հանդիպման չեղարկման դեպքում կստանաք հաղորդագրություն ձեր էլեկտրոնային հասցեին։</p>
        <a href="javascript:window.history.back()" class="button">← Հետ</a>
    </div>

    <footer>
        <p>Hospital Management System &copy; 2024</p>
    </footer>
</body>
</html>
