<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL LIFE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div id="branding">
            <img src="{% static 'images/logo.png' %}" alt="REAL LIFE Logo" class="logo">
            <h1><a href="{% url 'clinic_list' %}"><em><span style="color: red;">&#10010;</span> REAL LIFE  <span style="color: red;">&#10010;</span> MEDICAL CENTER</em></a></h1>
        </div>
        <div class="auth-links">
            <h2><a href="{% url 'edit_user_info' %}">Կարգավորումներ</a></h2>
            <h2><a href="{% url 'log_out' %}">Ելք</a></h2>
        </div>
    </header>
    
    <div class="container">
        <h2>{{ patient }}</h2>

        <h3>Ձեր ընդհանուր այցերը`</h3>
        {% if app_list_past %}
        <ul>
            {% for app in app_list_past %}
                <li>
                    {{ app.schedule|date:"F j, Y, H:i" }} - {{ app.doctor }}
                    <div class="button-group">
                        <a href="{% url 'appointment_description' app.id %}" class="button">&#9989; Եզրակացություն</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if app_list %}
        <ul>
            {% for app in app_list %}
                <li>
                    {{ app.schedule|date:"F j, Y, H:i" }} - {{ app.doctor }}
                    <div class="button-group">
                        <a href="{% url 'cancel_appointment' app.id %}" class="button" onclick="return confirm('Վստահ եք, որ ցանկանում եք չեղարկել հանդիպումը?');">&#10060; Չեղարկել</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if not app_list and not app_list_past %}
        <p>Դուք դեռ չունեք այցեր</p>
        {% endif %}
    </div>

    <footer>
        <p>Hospital Management System &copy; 2024</p>
    </footer>
</body>
</html>
