<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL LIFE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div id="branding">
            <img src="{% static 'images/logo.png' %}" alt="REAL LIFE Logo" class="logo">
            <h1><a href="{% url 'clinic_list' %}"><em><span style="color: red;">&#10010;</span> REAL LIFE  <span style="color: red;">&#10010;</span> MEDICAL CENTER</em></a></h1>
        </div>
    </header>
    
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="error">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            </div>
            <label for="password">Նոր գաղտնաբառ</label><br>
            <input type="password" name="password" id="password"><br><br>
            <label for="password">Մուտագրեք նոր գաղտնաբառը ևս մեկ անգամ</label><br>
            <input type="password" name="password_again" id="password_again"><br><br>
                <button type="submit">Հաստատել</button>

        </form>
        
    </div>

    <footer>
        <p>Hospital Management System &copy; 2024</p>
    </footer>
</body>
</html>
